.root{
  text-align: center;
  padding-top: 15px;
  width: 100%;
  height: 50px;
  background: rgb(215, 197, 197);
  font-size: 30px;
  color: white;
&:hover{
  color: rgb(215, 197, 197);
  background: white;

}
}